@model EntityFrameworkWrittingApp.Models.UserRegistrationModel

@{
    ViewData["Title"] = "UserRegistration";
}

<hr />
@{
    List<User> userlist = new List<User>();
    userlist = Model.userlists;
}
<style>
    .bg-image {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 90vh;
        z-index: -1;
    }

    .card {
        height: 80vh;
        margin-top: 12%; /* Adjust the height to fill the card container */
        margin-bottom: 5%; /* Adjust the height to fill the card container */
        padding: 20px;       
        border-radius: 15px;
    }

    .col-class {
        max-width: 400px;
        margin: 0 auto;
    }

    .sec {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
    }
</style>

<section class="bg-image" style="background-image: url('https://cdn.dribbble.com/userupload/3060495/file/original-4e1ac7b17f14b56721cd50d71f766245.jpg?compress=1&resize=1600x1201');">
    <div class="mask d-flex align-items-center gradient-custom-3">
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-2 col-md-2 co col-xl-5">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="text-uppercase text-center">Create an account</h6>

                            <form asp-action="UserRegistration" class="">
                                <div class="form-outline mb">
                                    <input type="text" id="UserName" name="UserName" class="form-control form-control-lg" placeholder="Enter user name" />
                                    <label class="form-label" for="UserName">User Name</label>
                                </div>

                                <div class="form-outline mb">
                                    <input type="email" id="EmailId" name="EmailId" class="form-control form-control-lg" placeholder="Enter emailid" />
                                    <label class="form-label" for="EmailId">Your Email</label>
                                </div>

                                <div class="form-outline">
                                    <input type="" id="MobileNo" name="MobileNo" class="form-control form-control-lg" placeholder="Enter mobile number" />
                                    <label class="form-label" for="MobileNo">MobileNo</label>
                                </div>

                                <div class="form-outline">
                                    <input type="password" id="password" name="Password" class="form-control form-control-lg" placeholder="Enter password" />
                                    <label class="form-label" for="Password">Password</label>
                                </div>

                                <div class="form-outline">
                                    <input type="password" id="confirm_password" name="confirm_password" class="form-control form-control-lg" placeholder="Enter password" />
                                    <label class="form-label" for="confirm_password">Repeat your password</label>
                                </div>

                                <div class="form-check d-flex justify-content-center">
                                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />
                                    <label class="form-check-label" for="form2Example3g">
                                        I agree to all statements in <a href="#!" class="text-body"><u>Terms of service</u></a>
                                    </label>
                                </div>

                                <div class="d-flex justify-content-center">
                                    <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">
                                        Register
                                    </button>
                                </div>

                                <p class="text-center text-muted">
                                    Already have an account? <a asp-controller="User" asp-action="LogIn" class="fw-bold text-body"><u>Login here</u></a>
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    var userlist = @Html.Raw(Json.Serialize(Model.userlists));
    var unameInput = document.getElementById("UserName");

    function validateUserName() {
        userlist.forEach(function (item) {
            console.log(item);
            var uname = document.getElementById('UserName').value;
            if (uname == item.userName) {
                console.log(item);
                unameInput.setCustomValidity("Username is already in use");
            } else {
                unameInput.setCustomValidity('');
            }
        });
    }

    unameInput.onkeyup = validateUserName;

    var password = document.getElementById("password"),
        confirm_password = document.getElementById("confirm_password");

    function validatePassword() {
        if (password.value != confirm_password.value) {
            confirm_password.setCustomValidity("Passwords don't match");
        } else {
            confirm_password.setCustomValidity('');
        }
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
