@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div class="container-fluid">
        <div class="bg-image m"
             style="
    background-image: url('https://imgv3.fotor.com/images/videoImage/quote-posters.png');
    height: 650px;
  "></div>
    </div>

</body>
