@model IEnumerable<EntityFrameworkWrittingApp.Models.GetAllPostsModel>

@{
    ViewData["Title"] = "Index";
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<style>
    .image-container {
        position: relative;
        width: 122%;
        height: 420px; /* Set the desired height for the image */
        overflow: hidden;
    }

    .image-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .image-wrapper img {
        object-fit: cover;
        width: 122%;
        height: 100%;
    }

    .card-img-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 10px;
        font-size: 15px;
        color: black;
        text-align: center;
        width: 90%;
        margin: 0 auto;
    }
</style>

<br />
<br />
<br />
<br />

<div class="container">
    <div class="mx-auto" style="width: 70%;">
        @{
            var con = 1;
        }

        @foreach (var ite in Model)
        {
            int counts = 0;
            string[] ptcon = (ite.PostContaint).Split("\r\n\r\n");
            List<string> str = new List<string>();
            for (int i = 0; i < ptcon.Length; i++)
            {
                str.Add(ptcon[i]);

                counts++;
                if (counts == 14)
                {
                    break;
                }
            }
            var btnId = con;

            <div class="card">
                <div class="mails">
                    <span class="person border3">H</span>
                    <div class="mail-names">
                        @ite.UserName
                    </div>
                </div>
                <div class="mail-info">
                    <div class="card-image">
                        <div class="image-container">
                            <div class="image-wrapper">
                                <img class="card-img-top" src="@ite.ImageUrl" alt="Card image">
                                <div class="card-img-content">
                                    <p>
                                        @foreach (var it in str)
                                        {
                                            @Html.Raw(it)
                                            <br />
                                        }
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bottom-info">
                    <i class="fa fa-heart" aria-hidden="true" style="font-size:36px;" id="@btnId"
                   onclick="likefunction('@btnId')"></i>

                    <i class="fa fa-comments-o" style="font-size:36px;"></i>
                    <i class="fa fa-save ms-3" style="font-size:36px; float:right"></i>
                </div>
            </div>

            con++;
        }
    </div>
</div>

<script>
    function likefunction(elemid) {
        var elem = document.getElementById(elemid);
        if (elem.style.color === 'red') {
            elem.style.color = 'black';
        } else {
            elem.style.color = 'red';
        }
    }
</script>
