@model EntityFrameworkWrittingApp.Models.GetImagePostModel

@{
    ViewData["Title"] = "PostPosts";
}

<script>


    function showElement() {
        var element = document.getElementById("two");
        var elem = document.getElementById("one");

        if (element.style.display === "block") {
            element.style.display = "none";
        } else {
            element.style.display = "block";
        }

        if (elem.style.display === "block") {
            elem.style.display = "none";
        } else {
            elem.style.display = "block";
        }
        var html = ` <button type="submite" class="btn btn-primary" style="float:right" id="mmm"> Post </button>`;
       var el= document.getElementById("mmm").innerHTML=html;
    }


    function selectImage(imageId) {
        console.log(imageId)
        document.getElementById("imidd").value = imageId;
        console.log(document.getElementById("imidd").value);
        var selectedImage = document.getElementById(imageId);
        
        var isSelected = selectedImage.classList.contains("selected-image");

        // Remove selection from all images
        var images = document.getElementsByClassName("image-thumbnail");
        for (var i = 0; i < images.length; i++) {
            images[i].classList.remove("selected-image");
        }

        if (!isSelected) {
            // Add selection to the clicked image
            selectedImage.classList.add("selected-image");

            // Update the selected image value
            var selectedImageValue = document.getElementById("SelectedImageId");
            selectedImageValue.value = imageId;
        } else {
            // Clear selection if the clicked image was already selected
            selectedImage.classList.remove("selected-image");

            // Update the selected image value
            var selectedImageValue = document.getElementById("SelectedImageId");
            selectedImageValue.value = "";
        }
        
    }


</script>

<style>
    .selected-image {
        border: 2px solid red;
    }
</style>

<!-- Rest of the code -->


<section class="bg-image" id="one" style="display:block">
    <div class="mask d-flex align-items-center gradient-custom-3">
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center m-1">
                <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="card" style="border-radius: 10px;">
                        <div class="card-body p-0 text-center">
                            <!-- Added "text-center" class -->
                            <form asp-action="PostPosts">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <textarea name="PostContent" rows="17" cols="55" placeholder="Write Something..!"></textarea>
                                    <span asp-validation-for="PostContent" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input asp-for="ImagesId" class="form-control" hidden id="imidd" />
                                    <span asp-validation-for="ImagesId" class="text-danger"></span>
                                </div>
                                <div class="form-group" id="mmm">
                                    <button type="button" class="btn btn-primary" style="float:right" onclick="showElement()"> Add Image </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@{
    int cont = 0;
}

    <section class="bg-image" id="two" style="display: none;">
        <div class="mask d-flex align-items-center gradient-custom-3">
            <div class="container">
                <div class="row d-flex justify-content-center align-items-center mt-2 mb-2">
                    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="card" style="border-radius: 15px;">
                            <div class="card-body p-0 text-center">

                                <div class="row">
                                @foreach (var item in Model.Imagelist)
                                {
                                    var ids = item.Id;
                                    <div class="col-4">
                                        <img src="@item.ImageUrl" id="@item.Id" width="140" height="270" class="mb-3 image-thumbnail" onclick="selectImage('@ids')" value="@ids" />
                                    </div>
                                }

                                </div>
                            <button class="btn btn-primary" style="float:right" onclick="showElement()">Next</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<input  class="form-control" hidden id="SelectedImageId" />


@section Scripts {
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
